@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components
{
    @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap');

    * 
    {
        transition: color .5s, background-color .5s, opacity .5s;
        font-family: 'Poppins', sans-serif;
    }

    html 
    {
        scroll-behavior: smooth;
    }

    .fa-user, .fa-laptop-code
    {
        font-size: 2.25em;
    }

    .bottom-navigation, .right-navigation
    {
        border-radius: 2.25rem;
        box-shadow: 0 0 6px rgba(0,0,0,.18);
    }

    .profile-card
    {
        box-shadow: 0 0 16px rgba(0,0,0, .2)
    }
}